header{
    text-align: center !important;  
    justify-content: center; 
}

.logo{
    font-family: 'Sacramento', cursive !important;
    color: rgb(247, 122, 191);  
     text-decoration: none !important; 
}
   